@model FortuneTellerMVC.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Here is your fortune</h2>

<div class="row">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</div>
            <p>You will retire in <span>@ViewBag.RetireYears</span> years</p>            

            <p>You will have $<span>@ViewBag.Money</span></p>
        
            <p>You will be <span>@ViewBag.Transportation</span></p>

            <p>You will have a vacation home in <span>@ViewBag.VacationHome</span>.</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
